.navbar {
  overflow: hidden;
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease;
  border-radius: 0 var(--mantine-radius-lg) var(--mantine-radius-lg) 0;
}

.navbar-collapsed {
  width: 5.7rem;

  &:hover {
    width: 15rem;
  }

}

.link {
  border-radius: var(--mantine-spacing-sm);
}

.link-label {
  font-size: var(--mantine-font-size-md);
  font-weight: var(--mantine-h2-font-weight);
}

.links {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
